<header class="bg-zinc-200 dark:bg-gray-900 shadow-md">
   <div class="mx-auto max-w-7xl px-4 md:px-12 py-6 flex justify-between items-center">
      <h1 class="text-2xl font-bold text-orange-600 dark:text-orange-400">CoffeeShop</h1>

      <button (click)="toggleMobileMenu()"
         class="md:hidden text-gray-600 dark:text-gray-300 text-2xl focus:outline-none">
         <span *ngIf="!isMobileMenuOpen">☰</span>
         <span *ngIf="isMobileMenuOpen">✖</span>
      </button>

      <nav id="navMenu" class="hidden md:flex gap-4">
         <a routerLink="/"
            class="text-gray-600 dark:text-gray-300 hover:text-orange-600 dark:hover:text-orange-400">Inicio</a>
         <a href="#"
            class="text-gray-600 dark:text-gray-300 hover:text-orange-600 dark:hover:text-orange-400">Productos</a>
         <a href="#"
            class="text-gray-600 dark:text-gray-300 hover:text-orange-600 dark:hover:text-orange-400">Contacto</a>
         <button id="main-cart" (click)="openCart()"
            class="relative text-gray-600 dark:text-gray-300 hover:text-orange-600 dark:hover:text-orange-400 z-20">
            🛒
         </button>
      </nav>
   </div>

   <div class="mobile-menu" [ngClass]="{'visible': isMobileMenuOpen}">
      <a routerLink="/" (click)="toggleMobileMenu()"
         class="block text-gray-600 dark:text-gray-300 hover:text-orange-600 dark:hover:text-orange-400 p-2">Inicio</a>
      <a href="#" (click)="toggleMobileMenu()"
         class="block text-gray-600 dark:text-gray-300 hover:text-orange-600 dark:hover:text-orange-400 p-2">Productos</a>
      <a href="#" (click)="toggleMobileMenu()"
         class="block text-gray-600 dark:text-gray-300 hover:text-orange-600 dark:hover:text-orange-400 p-2">Contacto</a>
      <button id="mobile-cart" (click)="openCart(); toggleMobileMenu();"
         class="block text-gray-600 dark:text-gray-300 hover:text-orange-600 dark:hover:text-orange-400 p-2">
         🛒 Carrito
      </button>
   </div>

</header>