@import 'tailwindcss';

a {
     cursor: pointer;
}

button {
     cursor: pointer;
}

.mobile-menu {
     @apply md:hidden bg-zinc-200 dark:bg-gray-700 p-0 overflow-hidden;
     max-height: 0;
     transition: max-height 0.4s ease-out;
}

.mobile-menu.visible {
     max-height: 500px;
}

.mobile-menu a,
.mobile-menu button {
     @apply px-4 py-2;
}

.btn {
     @apply p-4 rounded-full;
}

.btn-primary {
     @apply bg-orange-500 hover:bg-orange-400 text-white text-sm font-bold transition-colors duration-200;
}

@keyframes typing {
     from {
          width: 0
     }

     to {
          width: 100%
     }
}

@keyframes blink {
     50% {
          border-color: transparent
     }
}

.text-typing {
     display: block;
     text-align: center;
     overflow: hidden;
     white-space: nowrap;
     border-right: 2px solid white;
     width: 0;
     animation:
          typing 3s steps(10, end) forwards,
          blink 0.7s step-end infinite;
}