@import 'tailwindcss';

a {
     cursor: pointer;
}

button {
     cursor: pointer;
}

.mobile-menu {
     @apply md:hidden bg-zinc-200 dark:bg-gray-700 p-0 overflow-hidden;
     max-height: 0;
     transition: max-height 0.4s ease-out;
}

.mobile-menu.visible {
     max-height: 500px;
}

.mobile-menu a,
.mobile-menu button {
     @apply px-4 py-2;
}

.btn {
     @apply p-4 rounded-full;
}

.btn-primary {
     @apply bg-orange-500 hover:bg-orange-400 text-white text-sm font-bold transition-colors duration-200;
}

.card_img, .card_img_hover {
     background-image: url('https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg');
}

.card_img_hover {
     transition: 0.2s all ease-out;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     width: 100%;
     position: absolute;
     height: 235px;
     border-top-left-radius: 12px;
     border-top-right-radius: 12px;
     top: 0;
}

.card {
     transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
     background-color: #fff;
     position: relative;
     border-radius: 12px;
     overflow: hidden;
     box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.card:hover {
     box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
     transform: scale(1.10, 1.10);
}

.card .absolute {
     opacity: 1;
}

.card:hover .absolute {
     opacity: 1;
}

.card:hover .card_img_hover {
     height: 100%;
     opacity: 0.3;
}

.card:hover {
     background-color: transparent;
     position: relative;
}

@keyframes typing {
     from {
          width: 0
     }

     to {
          width: 100%
     }
}

@keyframes blink {
     50% {
          border-color: transparent
     }
}

.text-typing {
     display: block;
     text-align: center;
     overflow: hidden;
     white-space: nowrap;
     border-right: 2px solid white;
     width: 0;
     animation:
          typing 3s steps(10, end) forwards,
          blink 0.7s step-end infinite;
}